# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

.idea/libraries/jar_files.xml
.idea/libraries/sqlite_jdbc_3_43_2_2_5_17_54PM.xml
.idea/misc.xml
.idea/modules.xml